<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="ros2_control_moveit">
    <!-- Arm Hardware System -->
    <ros2_control name="arm_hardware_system" type="system">
      <hardware>
        <plugin>mock_components/GenericSystem</plugin>
      </hardware>

      <!-- Arm joints -->
      <joint name="link2_to_link1">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="link3_to_link2">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="link4_to_link3">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="gripper_to_link4">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

    <!-- Gripper Hardware System -->
    <ros2_control name="gripper_hardware_system" type="system">
      <hardware>
        <plugin>mock_components/GenericSystem</plugin>
      </hardware>

      <joint name="gripper_left_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="gripper_right_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>
  </xacro:macro>

</robot>